extends ../layouts/default

mixin post(post)
	.div(data-ks-editable=editable(user, { list: 'Projects', id: post.id }))
				
		div.col-sm-4
			hr

			p.lead.text-muted Posted 
				if post.publishedDate
					| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
				if post.author
					| by #{post.author.name.first}
				
			//post image
			if post.image.exists
				div.imgcontainer.col-sm-12.nopad: a(href='/projects/post/' + post.slug)
					img(src='/project/single/'+post.image.filename).img
			
			//post title
			h2: a(href='/projects/post/' + post.slug)= post.title
				
				
			//post content
			p!= post.content.brief
			
			if post.content.extended
				p.read-more: a(href='/projects/post/' + post.slug) Read more...

block intro
	.container
		h1= 'Projects'

block content
	.container: .row
		.col-sm-12.col-md-12
				if data.posts.results.length
					if data.posts.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.posts.first}
							|  to 
							strong #{data.posts.last}
							|  of 
							strong #{data.posts.total}
							|  posts.
					else
						h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
					each post in data.posts.results
						+post(post)
						
					if data.posts.totalPages > 1
						ul.pagination.col-sm-12
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
						h3.text-muted There are no posts yet.
				